* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.cardHighlight {
  min-height: 100%;
}

.image-fluid {
  cursor: pointer;
}

.title-card {
  cursor: pointer;
}

.provider {
  display: none;
}
